[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
opencv-python = "*"
numpy = "*"
matplotlib = "*"
tensorflow-gpu = "*"
tensorflow-hub = "*"
moviepy = "*"
vidstab = "*"
tqdm = "*"
bokeh = "*"
pytest = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
oauth2client = "*"

[requires]
python_version = "3.6"
